body {
  margin: 0;
  font-family: Helvetica;
  background-color: #d23333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  color: white;
}

#logo {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
